#maze{
    display: flex;
    margin: 0 auto;
    height: 500px;
    width: 500px;
    background-color:green;
    flex-direction: column;
}
.row{
    display:flex;

    flex-grow: 1;
    background-color:rgb(42, 53, 204);
    flex-direction: row;
}
.wall{
    position: static;
    background-color: black; 
    flex-grow:1;
}
.space{
   flex-grow:1;
   display: flex;

}
#h1{
    font-style: italic;
    color: red;
}
.player{
    background-color: darkorange;
    flex-grow: 1;
}