div {
    margin: -2px;
}

.headerpic {
    margin-left: -60px;
    margin-bottom: 50px;
    width: 500px;
    height: 150px;
    background-image: url(images/wap.png);
    background-size: 500px;
}

body {
    margin-left: 580px;
    margin-top: 100px;
    background-color: black;
}

.player {
    width: 29px;
    height: 26px;
    background-image: url(images/pacman_right.png);
    background-size: 26px;
    display: inline-block;
}

.player_down {
    width: 29px;
    height: 26px;
    background-image: url(images/pacman_down.png);
    background-size: 26px;
    display: inline-block;
}

.player_left {
    width: 29px;
    height: 26px;
    background-image: url(images/pacman_left.png);
    background-size: 26px;
    display: inline-block;
}

.player_up {
    width: 29px;
    height: 26px;
    background-image: url(images/pacman_up.png);
    background-size: 26px;
    display: inline-block;
}

.wall {
    width: 29px;
    height: 26px;
    background-color: rgb(17, 56, 173);
    display: inline-block;
}

.coin {
    width: 29px;
    height: 26px;
    background-image: url(images/coin.png);
    background-size: 25px;
    display: inline-block;
}

.bg {
    width: 29px;
    height: 26px;
    background-color: black;
    display: inline-block;
}

.ghost1 {
    width: 25px;
    height: 25px;
    background-color: rgba(225, 0, 255, 0.945);
    display: inline-block;
}

.ghost2 {
    width: 25px;
    height: 25px;
    background-color: rgba(255, 51, 0, 0.945);
    display: inline-block;
}

.ghost3 {
    width: 25px;
    height: 25px;
    background-color: rgb(94, 255, 0);
    display: inline-block;
}